/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.font-oswald {
  font-family: 'Oswald';
}

.font-roboto {
  font-family: 'Roboto';
}

/* CSS Variables */
:root {
  --primary-color: #ce2626;
  --primary-color-hover: #d3071b;
  --secondary-color: #103063;
  --secondary-color-hover: #143fa5;
  --light-color: #f4f4f4;
  --dark-color: #000000;
  --background-color: #f18c8c;
}

/* TAGS */
a {
  text-decoration: none;
}

/* Footer */
 .blog-footer {
  padding: 1rem 0;
  color: #999;
  text-align: center;
  background-color: #e5e2e2;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

/* LANDING */
.btn-category {
  display: block;
}

.card-img {
  width: 100%;
  height: 11vw;
  object-fit: cover;
}

/* POST */
.author-pic {
  height: 60px;
  width: 60px;
}

.first-letter {
  font-size: 45px;
  line-height: 70px;
}

/* ABOUT */
.about-dp {
  height: 200px;
  width: 200px;
}

.style-link {
  text-decoration: none;
}

.style-link:hover {
  text-decoration: none;
  background-color: rgb(166, 252, 223);
  padding: 0.2rem;
  color: rgb(5, 5, 5);
}

.btn-twitter {
  background-color: #00acee;
  color: var(--light-color);
}

.btn-twitter:hover {
  background-color: #0576a3;
  color: var(--light-color);
}

.btn-instagram {
  background-color: #E1306C;
  color: var(--light-color);
}

.btn-instagram:hover {
  background-color: rgb(155, 17, 63);
  color: var(--light-color);
}

.btn-github {
  background-color: rgb(71, 71, 71);
  color: var(--light-color);
}

.btn-github:hover {
  background-color: rgb(36, 35, 35);
  color: var(--light-color);
}